h1, h2, h4 {
	color: gray;
	font-family: Arial;
}
h1 {
	font-size: 55px;
}
h4 {
	font-size: 75%;
	font-weight: normal;
}
p {
	font-size: 75%;
}
img {
	box-shadow: 1px 2px 2px 1px;
	border-radius: 10px;
}