h1 {
			font-family: "palatino", serif;
			font-weight: 900;
			font-size: 50px;
			font-style: oblique;
			color: crimson;
}
body {
	text-align: center;
}
p {
	color: green;
	font-size: 125%;
	font-family: "palatino";
}
li {
				list-style-type: none;
}
#fast {
	font-style: italic;
}
.action {
	font-family: comic;
}